<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Add Product</h3>
<p>
    <a th:href="@{/product}">
        Back to products list
    </a>
</p>
<div id="form">
    <form th:action="@{/product/delete}" th:object="${product}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}" readonly/>
        <div>
            <label>Name</label>
            <input type="text" th:field="*{name}" readonly/>
        </div>
        <div>
            <label>Price</label>
            <input type="email" th:field="*{price}" readonly/>
        </div>
        <div>
            <label>Quantity</label>
            <input type="text" th:field="*{quantity}" readonly/>
        </div>
        <div>
            <label>Country</label>
            <input type="text" th:field="*{country}" readonly/>
        </div>
        <input type="submit" value="Remove"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>